MONGODB_URL=mongodb://mongodb:27017
DATABASE_NAME=mydatabase
UPLOAD_DIR=./uploads
GEOIP_DATABASE_PATH=./geoip/GeoLite2-City.mmdb
API_DETECTOR_URL=http://detector:8000/analyze
TRAEFIK_ROUTE=service_name
TRAEFIK_APP_DOMAIN=`dom1.example.com`,`dom2.example.com`
TRAEFIK_APP_PORT=8000
